/* ------------------VARIABLES----------------------------------------*/
:root {
    --header-padding: 14vh;
}


/* ------------------------------THE RESET----------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

th {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: middle;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    background-color: black;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*-----------MY CODE-----------*/

* {
    font-family: Futura, Futura-Medium, "Futura Medium", "Century Gothic", CenturyGothic, "Apple Gothic", AppleGothic, "URW Gothic L", "Avant Garde", sans-serif;
    color: white
}

.new-post-table {
    width: 100%;
}

#new-post-author, #new-post-body, #new-post-title {
    color: white;
    background-color: black;
    margin: 3px;
    width: 90%;
    /*border-style: ;*/
}

#new-post-submit {
    background-color: transparent;
    border: none;
    color: white;
    padding: 10px;
    text-decoration: none;
    font-size: 16px;
    bottom: 5%;
    left: 50%;
}

.row {
    margin: 3px;
    padding: 3px;
}

label {
    vertical-align: middle;
}

.frontpage {
    font-family: Futura, Futura-Medium, "Futura Medium", "Century Gothic", CenturyGothic, "Apple Gothic", AppleGothic, "URW Gothic L", "Avant Garde", sans-serif;
    text-transform:uppercase;
    letter-spacing: 8px;
    font-size: 3.5em;
    text-align: center;
    padding-top: 1.25em;
    z-index: 1;
    position: relative;
    color: white;
    text-shadow: 0 0 15px black;
    
}

.frontname {
    font-size:  2em;
    padding-bottom: .2em;
    
}

.navbar {
    font-family: Futura, Futura-Medium, "Futura Medium", "Century Gothic", CenturyGothic, "Apple Gothic", AppleGothic, "URW Gothic L", "Avant Garde", sans-serif;
    letter-spacing: 3px;
    background-color: #000;
    position: fixed;
    top: 0;
    width: 100%;
    color: white;
    margin: 0;
    padding: 0;
}

.name {
    float: left;
    padding: 3vh;
    text-transform: uppercase;
}

.links {
    float: right;
    text-decoration: none;
    color: white;
    padding: 3vh .45em;
    
}

.list {
    font-size: .45em;
    list-style-type: none;
    text-decoration: none;
}

a {
    text-decoration: none;
}

.pagetitle {
    text-align: center;
    padding-top: 0vh;
    font-size: 15vh;
    text-transform: uppercase;
    letter-spacing: 4px;
    
}

.SDmain {
    margin-top: 8vh;
    
}

/*----------PAGE SPECIFIC STYLES-----------*/

.contactinfo {
    text-align: center;
    letter-spacing: 1px;
    font-size: 6vh;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.contactinfo-2 {

    letter-spacing: 1px;
    font-size: 1.5em;

}

.contact-social-media-block{
    position: fixed;
    left: 50%;
    bottom: 0;
    transform: translate(-50%)
   
}

.sm {
   
    
}

.contact-social-media {
    height: 8vh;
    width: 8vw;
}

.email-link {
    text-decoration: none;
    
}

.about-title {
    font-size: 10vh;
    /*text-transform: uppercase;*/
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    

}

.about-body {
    
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 2em;
}
.b{display: none;}

.c{display: none;}

.d{display: none;}

.e{display: none; font-size: 1.5em;}

.f{display: none;}

.g{display: none;}

.h{display: none;}

.article {
    color: white;
    width: 85%;
    margin: auto;
}

.article-title {
    border-top: 1px;
    border-color: white;
    font-size: 5vh;
    text-transform: uppercase;
}

.article-sub,
.article-date,
.port-sub
{
    font-family: helvetica, sans-serif;
    font-style: italic;
}
.article-body,
.port-desc
{
    text-indent: 1.75em;
    line-height: 1.2em;
}

.port-table {
    display: table;
    margin-top: 1.25em;    
}

.port-row {
    display: table-row;
    margin-top: 1.25em;
}

.port-image {
    display: table-cell;
    float: left;
    width: 35%;
    max-height: 20vh;
    margin:0 2.5%;
}

.port-text {
    display: table-cell;
    float: right;
    width: 55%;
    margin: 0 2.5%;
}

.port-title {
    font-size: 2em;
    text-transform: uppercase;
}

/*-----------Animations and JQuery---------*/

.button {
    background-color: transparent;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    position: fixed;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%)
}

.preopen {
    left: 150% !important;
}

.open {
    left: 50% !important;
}

.closed {
    left: -50% !important;
}

.transition {
    -webkit-transition: left 0.3s ease-out;
        -moz-transition: left 0.3s ease-out;
    -o-transition: left 0.3s ease-out;
    transition:  left 0.3s ease-out;
}

.preopen2 {
    opacity: 0 !important;
}

.open2 {
    opacity: 1 !important;
}

.closed2 {
    opacity: 0 !important;
}

.transition2 {
    -webkit-transition: opacity 0.3s ease-out;
        -moz-transition: opacity 0.3s ease-out;
    -o-transition: opacity 0.3s ease-out;
    transition:  opacity 0.3s ease-out;
}

#text1 {
   min-width: 67vw; 
}

/*------------------FERNTS-----------------*/

@font-face {
    font-family: Futura;
    src: url(fonts/futuramedium.otf) format('opentype');
    
}

@font-face {
    font-family: Futura-Medium;
    src: url(fonts/futural-webfont.svg);
    
}

/*----------VIDJER---------*/

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    z-index: 0;
    
}

/*-----------MEDIA QUERIES-------------*/

/*@media all and (min-width: 2751px) {*/
    /*.frontname {*/
        /*font-size: 5em;*/
    /*}*/
    /*.list {*/
        /*font-size: 1em;*/
    /*}*/
    /*.break {*/
    /*display: none;*/
    /*}*/
    /*.contactinfo {*/
        /*font-size: 4em;*/
        /*letter-spacing: 6px;*/
    /*}*/
    /*.pagetitle {*/
        /*padding-top: 1em;*/
        /*font-size: 11em;*/
    /*}*/
    /*.navbar {*/
        /*font-size: 3em;*/
    /*}*/
    /*.about-title {*/
        /*font-size: 40em;*/
    /*}*/
    /*.port-row {*/
    	/*font-size: 3em;*/
    /*}*/
    /*.article {*/
    	/*font-size: 3em;*/
    /*}*/
/*}*/

/*@media all and (min-width: 1800px) and (max-width: 2750px) {*/
    /*.frontname {*/
        /*font-size: 1.5em;*/
    /*}*/
    /*.list {*/
        /*font-size: 1em;*/
    /*}*/
    /*.break {*/
        /*display: none;*/
    /*}*/
    /*.contactinfo {*/
        /*font-size: 4em;*/
        /*letter-spacing: 6px;*/
    /*}*/
    /*.pagetitle {*/
        /*padding-top: 1em;*/
        /*font-size: 7em;*/
    /*}*/
    /*.navbar {*/
        /*font-size: 2em;*/
    /*}*/
    /*.about-title {*/
        /*font-size: 40em;*/
    /*}*/
    /*.port-row {*/
        /*font-size: 2em;*/
    /*}*/
    /*.article {*/
        /*font-size: 3em;*/
    /*}*/
/*}*/

/*@media all and (min-width: 1200px) and (max-width: 1799px) {*/
    /*.frontname {*/
        /*font-size: 3em;*/
    /*}*/
    /*.list {*/
        /*font-size: 1em;*/
    /*}*/
    /*.break {*/
    /*display: none;*/
    /*}*/
    /*.contactinfo {*/
        /*font-size: 2em;*/
        /*letter-spacing: 6px;*/
    /*}*/
    /*.pagetitle {*/
        /*padding-top: 0vh;*/
        /*font-size: 15vh;*/
    /*}*/
    /*.navbar {*/
        /*font-size: 1.4em;*/
    /*}*/
/*}*/

/*@media all and (min-width: 900px) and (max-width: 1199px) {*/
    /*.break {*/
    /*display: none;*/
    /*}*/
    /*.contactinfo {*/
        /*font-size: 1em;*/
        /*letter-spacing: 4px;*/
    /*}*/
    /*.pagetitle {*/
        /*padding-top: 1em;*/
        /*font-size: 2em;*/
    /*}*/
    /*.navbar {*/
        /*font-size: 1em;*/
    /*}*/
/*}*/

/*@media all and (min-width: 600px) and (max-width: 899px){*/
    /*.frontname {*/
        /*font-size:  2em;*/
    /*}*/
    /*.list {*/
        /*font-size: .6em*/
    /*}*/
    /*.contactinfo {*/
        /*letter-spacing: 4px;*/
    /*}*/
    /*.pagetitle {*/
        /*padding-top: 1em;*/
        /*font-size: 4.5em;*/
    /*}*/
    /*.navbar {*/
        /*font-size: 1em;*/
    /*}*/
/*}*/

/*@media all and (max-width: 599px) {*/
    /*.frontname {*/
        /*font-size: 1.4em*/
    /*}*/
    /*.list {*/
        /*font-size: .6em*/
    /*}*/
    /*.contactinfo {*/
        /*font-size: 1em;*/
        /*letter-spacing: 2px;*/
    /*}*/
    /*.pagetitle {*/
        /*font-size: 3em;*/
    /*}*/
    /*.navbar {*/
        /*font-size: .5em;*/
    /*}*/
    /*.about-title {*/
        /*font-size: 4em;*/
    /*}*/
/*}*/




